{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="showcase-inner" class="showcase-search text-white py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        {% include '_search_form.html' %}
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="listings.html">Browse Listings</a>
        </li>
        <li class="breadcrumb-item active"> Search Results</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Listings -->
<section id="listings" class="py-4">
  <div class="container">
    <div class="row">

      {% if listings %}
        {% for l in listings %}
          {% include 'listings/_listing.html' with l=l %}
        {% endfor %}
      {% else %}
        <div class="col-sm-12">
          No listings available.
        </div>
      {% endif %}

    </div>
  </div>
</section>
{% endblock %}